/* General Styles */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #f4f4f4;
  border-color: black;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #24704d;
  padding: 13px;
}

/* Error Message */
.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
}

.alert-danger {
  background-color: #f8d7da;
  color: #24704d;
  border: 1px solid #f5c6cb;
}

/* List Group */
.list-group {
  list-style: none;
  max-width: 800px;
  padding: 0;
  border: 1px solid black; /* Add border to the container */
  max-height: 500px; /* Set maximum height */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds max height */
  background-color: #f4f4f4; /* Background color for the container */
  border-radius: 1px; /* Rounded corners for the container */
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 1px solid #e9e9e9;
  margin: 5px; /* Add some margin between items */
  border-radius: 4px;
  background-color: #ffffff;
  padding: 10px; /* Add padding for better spacing */
}

.list-group-item:hover {
  background-color: #24704d; /* Change background color on hover */
  color: white; /* Change text color on hover for better visibility */
}

/* Input Field */
.form-control {
  width: 60%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  border-color: #9e9e9e;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 23%;
}

.btn-primary {
  background-color: #24704d;
  color: #fff;
}

.btn-primary:hover {
  background-color: #104e30;
}

.btn-danger {
  background-color: #24704d;
  color: #fff;
}

.btn-danger:hover {
  background-color: #24704d;
}

.btn-danger:disabled {
  background-color: #24704d;
  cursor: not-allowed;
}

/* Button Container */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Checkbox */
input[type="checkbox"] {
  cursor: pointer;
}